<template>
    <div class="modal">
        <slot></slot>
        <button @click="$emit('close')">Dismiss</button>
    </div>
</template>
<script>
  export default {
    emits: [ "close" ]
  }
</script>
<style scoped>
    ::v-slotted(p){
        font-style: italic;
    }
    .modal {
        width: 200px;
        max-width: 100%;
        height: 100px;
        max-height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 50px 20px 20px;
        z-index: 11;
        background: white;
    }
</style>
