<template>
    <button @click="toggleModalState">Open modal</button>
    <teleport to="#modal-wrapper">
        <Modal v-if="modalOpen" @close="toggleModalState">
            <p>Hello, I'm a Vue 3 modal window.</p>
        </Modal>
        <div class="modal-overlay" v-if="modalOpen"></div>
    </teleport>
</template>
<script>
  import { defineAsyncComponent } from "vue";
  const Modal = defineAsyncComponent(
    () => import("@/components/Modal")
  );
  import useModalState from "@/components/useModalState";
  export default {
    setup () {
      const { modalOpen, toggleModalState } = useModalState();
      return {
        modalOpen,
        toggleModalState
      }
    },
    components: {
      Modal
    }
  };
</script>
<style>
    .modal-overlay {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.3);
    }
</style>
